* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  background: url("./assets/bg.png");
  height: 94vh;
  width: 99vw;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
}

.titlezin {
  font-family: "Righteous";
  font-style: normal;
  font-weight: 400;
  font-size: 8rem;
  line-height: 9.6rem;
  margin-bottom: 4rem;
}

.quadrado {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.input1 {
  background: transparent;
  border: none;
  outline: 0;
  padding: 1rem 0;
  border-bottom: 2px solid white;
  width: 50%;
  max-width: 50rem;
  color: white;
}

input::placeholder {
  color: gray;
}

.btn {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4%;
  max-width: 50rem;
}

button {
  margin-top: 2rem;
  height: 4rem;
  width: 96%;
  border-radius: 0.8rem;
  border: none;
  background: #4044ED;
  color: white;
}

button:hover {
  background: #2f31ca;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
